<a href="https://colab.research.google.com/github/2205a21059/python-/blob/main/2205A21059_ASS_8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

FIGURE 1

In [1]:
Qualification=['venkat', 'B.Tech', 2006, 'Μ.Ε.', 2011, 'Ph.D', 2018]

Experience=['SSCE', 2007, 'infosys', '2011', 'ΑΙΤΑΜ', '2013', 'SREC', '2018']

CA=Qualification+Experience

print("Qualification=", Qualification)

print("Experience=", Experience)

print("CA=", CA)

Qualification= ['venkat', 'B.Tech', 2006, 'Μ.Ε.', 2011, 'Ph.D', 2018]
Experience= ['SSCE', 2007, 'infosys', '2011', 'ΑΙΤΑΜ', '2013', 'SREC', '2018']
CA= ['venkat', 'B.Tech', 2006, 'Μ.Ε.', 2011, 'Ph.D', 2018, 'SSCE', 2007, 'infosys', '2011', 'ΑΙΤΑΜ', '2013', 'SREC', '2018']

In [2]:
Qualification=['venkat', 'B.Tech', 2006, 'M.E.', 2011, 'Ph.D', 2018]

print(Qualification)

print(Qualification[0])

print(Qualification[1:])

print(Qualification[1:5])

print(Qualification *2)

print(Qualification[::-1])

['venkat', 'B.Tech', 2006, 'M.E.', 2011, 'Ph.D', 2018]
venkat
['B.Tech', 2006, 'M.E.', 2011, 'Ph.D', 2018]
['B.Tech', 2006, 'M.E.', 2011]
['venkat', 'B.Tech', 2006, 'M.E.', 2011, 'Ph.D', 2018, 'venkat', 'B.Tech', 2006, 'M.E.', 2011, 'Ph.D', 2018]
[2018, 'Ph.D', 2011, 'M.E.', 2006, 'B.Tech', 'venkat']

In [3]:
list=['venkat', '1985']

print('Venkat birth year', list[1])

list[0]='dev'

list[1]=2017

print('dev birth year', list[1])

Venkat birth year 1985
dev birth year 2017

FIGURE 2

In [4]:
list=['venkat', '1985']

print(list)

del list[1]

print(list)

['venkat', '1985']
['venkat']

In [5]:
Name=['Ramana', 'Thanmai', 'Dev']

DOB=[1985, 2014, 2017]

print('Number of peoples', len (Name))

print('==============')

Details=Name+DOB # Concatination

print('Biodata', Details)

print('==========')

Repetition=Name*2

print('Repetition', Repetition)

print('==========')

for X in Name:

  print(X)

print('==========')

Number of peoples 3
==============
Biodata ['Ramana', 'Thanmai', 'Dev', 1985, 2014, 2017]
==========
Repetition ['Ramana', 'Thanmai', 'Dev', 'Ramana', 'Thanmai', 'Dev']
==========
Ramana
Thanmai
Dev
==========

In [6]:
Name=['Ramana','Thanmai','Dev']

DOB=[1985,2014,2017]

print('Name with maximum charecters', max (Name))

print("Younger person DOB", max(DOB))

print('Name with minimum charecters', min (Name))

print('Older person DOB', min(DOB))

Name with maximum charecters Thanmai
Younger person DOB 2017
Name with minimum charecters Dev
Older person DOB 1985

In [7]:
Students=['ram', 'venkat']

print (Students)

Students.append('Dev')

print(Students)

['ram', 'venkat']
['ram', 'venkat', 'Dev']

FIGURE 3

In [8]:
Family=['Ramana', 'Swetha', 'Thanmai', 'Dev']

print('Family members', Family)

Family.pop()

print('Family members', Family)

Family.pop(2)

print('Family members', Family)

Family members ['Ramana', 'Swetha', 'Thanmai', 'Dev']
Family members ['Ramana', 'Swetha', 'Thanmai']
Family members ['Ramana', 'Swetha']

In [11]:
Grade=['A','A','B','C','A','B']

print("lowest index for grade B",Grade.index("B"))

lowest index for grade B 2

In [12]:
Family=["Venkat", "Swetha"]
print('Family members', Family)
atuple=("Dev", "Thanmai")
Family.extend(atuple)
print('Family members', Family)

Family members ['Venkat', 'Swetha']
Family members ['Venkat', 'Swetha', 'Dev', 'Thanmai']

In [13]:
Family=["Ramana", "Swetha", "Thanmai", "Dev"]
print("Family members", Family)
Family.reverse()
print("Family members", Family)

Family members ['Ramana', 'Swetha', 'Thanmai', 'Dev']
Family members ['Dev', 'Thanmai', 'Swetha', 'Ramana']

In [14]:
Family=["Ramana", "Swetha", "Thanmai", "Dev"]
print("Family members", Family)
Family.remove("Ramana")
print("Family members", Family)

Family members ['Ramana', 'Swetha', 'Thanmai', 'Dev']
Family members ['Swetha', 'Thanmai', 'Dev']

In [16]:
Name=['Ramana', 'Thanmai', 'Dev']

print('Family members', Name)

Name.insert(1, 'Swetha')

print('Family members', Name)

Family members ['Ramana', 'Thanmai', 'Dev']
Family members ['Ramana', 'Swetha', 'Thanmai', 'Dev']

In [10]:
Grade=['A','A','B','C','A']

print("lowest index for grade B",Grade.index("A"))

lowest index for grade B 0

FIGURE 4

In [17]:
tuple=('venkat','B.tech',2006)
print(tuple)
print(tuple[0])
print(tuple[0:2])
print(tuple[0:])
print(tuple[::-1])
print(tuple[2:0:-1])

('venkat', 'B.tech', 2006)
venkat
('venkat', 'B.tech')
('venkat', 'B.tech', 2006)
(2006, 'B.tech', 'venkat')
(2006, 'B.tech')

In [18]:
tiny={'Name':'venkat','Marks':891}
print(tiny)
print(tiny['Name'])
print(tiny['Marks'])
tiny['Name']='ramana'
print(tiny)

{'Name': 'venkat', 'Marks': 891}
venkat
891
{'Name': 'ramana', 'Marks': 891}

In [19]:
dict={}
print(dict)
dict['one']='this is one'
print(dict)
dict['2']='this is two'
print(dict)
print(dict.keys())
print(dict.values())

{}
{'one': 'this is one'}
{'one': 'this is one', '2': 'this is two'}
dict_keys(['one', '2'])
dict_values(['this is one', 'this is two'])

In [20]:
tuple=('venkat','B.tech',2006)
pgtuple=('M.E','2011')

print(tuple*2)
print(tuple + pgtuple)

List=['venkat','Ph.D','2018']
print(List)

List[0]='Ramana'
print(List)

('venkat', 'B.tech', 2006, 'venkat', 'B.tech', 2006)
('venkat', 'B.tech', 2006, 'M.E', '2011')
['venkat', 'Ph.D', '2018']
['Ramana', 'Ph.D', '2018']

FIGURE 5

In [21]:
thisset={"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]
mylist_2=(2,3)
mylist_3={"Name": "Venkat", "School": "SRU"}

thisset.update(mylist)
thisset.update(mylist_2)
thisset.update(mylist_3)

print(thisset)

{'orange', 2, 'banana', 3, 'School', 'kiwi', 'apple', 'cherry', 'Name'}

In [22]:
thisset={"apple", "banana", "cherry"}


for x in thisset:
    print(x)

cherry
banana
apple

In [23]:
thisset={"apple", "banana", "Cherry"}
tropical={"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'Cherry', 'banana', 'mango', 'apple', 'pineapple', 'papaya'}